@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #22c55e #f1f1f1; /* Firefox */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
  border: 8px solid transparent; /* Tạo khoảng trống 2 đầu */
  background-clip: content-box; /* Giới hạn màu nền chỉ trong phần content */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scroller::-webkit-scrollbar {
  width: 5px; /* Giảm chiều rộng thanh cuộn */
  height: 4px; /* Giảm chiều cao cho thanh cuộn ngang */
}
.scroller::-webkit-scrollbar-track-piece {
  background: rgb(216, 216, 216);
  border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb {
  background: rgb(195, 195, 195);
  border-radius: 10px;
}
.scroller::-webkit-scrollbar-button:end:decrement {
  display: block;
  background: transparent;
}
.scroller::-webkit-scrollbar-button:start:increment {
  display: block;
  background: transparent;
}
